@model Management_system.Models.SolicitudDetalle

@{
    ViewData["Title"] = "Eliminar Producto";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>
    .fixed-width-btn {
        width: 80px;
    }

    .alert-custom {
        color: red;
        font-size: 1.2em;
        display: none;
        margin-top: 10px;
    }

    .card {
        border-radius: 15px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
    }

    input[type="submit"] {
        width: 150px;
    }


    .title-main {
        font-size: 1.6em;
        color: #333;
    }

    .title-menu {
        font-size: 1.4em;
        color: #333;
    }

    .card-header-title {
        font-size: 1.1em;
        color: #333;
    }

    .lead {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .lead-content {
        font-size: 1.0rem;
        font-weight: 300;
    }

    .btn {
        /* background-color: #007bff;
                                border-color: #007bff; */
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

</style>

<div class="container">
    <a asp-action="CreateDetalle" asp-route-idSolicitud="@Model.IdSolicitud" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
</div>

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <p class="text-center title-menu">¿Estás seguro de que deseas eliminarlo?</p>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4 card-header-title">ID Solicitud:</dt>
                        <dd class="col-sm-8 lead-content">@Html.DisplayFor(model => model.IdSolicitudNavigation.IdSolicitud)</dd>
                        <dt class="col-sm-4 card-header-title">Producto:</dt>
                        <dd class="col-sm-8 lead-content">@Html.DisplayFor(model => model.IdProductoNavigation.Descripcion)</dd>
                        <dt class="col-sm-4 card-header-title">Observaciones:</dt>
                        <dd class="col-sm-8 lead-content">@Html.DisplayFor(model => model.Observaciones)</dd>
                        <dt class="col-sm-4 card-header-title">Cantidad:</dt>
                        <dd class="col-sm-8 lead-content">@Html.DisplayFor(model => model.Cantidad)</dd>
                        <dt class="col-sm-4 card-header-title">Precio Costo:</dt>
                        <dd class="col-sm-8 lead-content">@Html.DisplayFor(model => model.PrecioCosto)</dd>
                        <dt class="col-sm-4 card-header-title">Precio Venta:</dt>
                        <dd class="col-sm-8 lead-content">@Html.DisplayFor(model => model.PrecioVenta)</dd>
                        <dt class="col-sm-4 card-header-title">Rentabilidad:</dt>
                        <dd class="col-sm-8 lead-content">@Html.DisplayFor(model => model.Rentabilidad)</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <form asp-action="CreateProductoDelete">
                        <input type="hidden" asp-for="IdSolicitudDetalle" />
                        <button type="submit" class="btn btn-danger mr-2">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>