@{
    ViewData["Title"] = "Logistica";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>
    .card {
        border-radius: 15px;
        transition: all 0.2s ease;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
        }

    .card-title {
        font-size: 1.40rem;
        font-weight: 400;
        margin-bottom: 0.75rem;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;
    }

    .btn-primary {
        background-color: #0f268d;
        border-color: #0f268d;
    }

        .btn-primary:hover {
            background-color: #0d1e6f;
            border-color: #0d1e6f;
        }

    .title-main {
        font-size: 1.6em;
        color: #333;
    }

    .title-menu {
        font-size: 1.4em;
        color: #333;
    }

    .card-header-title {
        font-size: 1.1em;
        color: #333;
    }

    .lead {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .lead-content {
        font-size: 1.0rem;
        font-weight: 300;
    }


    .custom-tab {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        font-size: 16px;
        font-weight: normal; /* Sin negrita */
        /* text-transform: uppercase; */
        padding: 12px 20px;
        border-radius: 8px;
        background-color: #f1f1f1; /* Gris claro cuando NO está seleccionado */
        color: #444; /* Gris oscuro */
        text-decoration: none;
        border: 2px solid #666; /* Gris intermedio */
        transition: all 0.3s ease-in-out;
    }

        .custom-tab:hover {
            background-color: #0f268d;
            color: white;
        }

        .custom-tab.active {
            background-color: #0f268d !important;
            color: white !important;
        }
</style>


@* Navidad *@
<div>
    @* <style>
    .snowflake {
    color: #87CEEB;
    font-family: sans-serif;
    font-size: 1.5em;
    position: fixed;
    top: -2em;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite;
    }

    @@keyframes fall {
    0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    }

    100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.2;
    }
    }
    </style>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
    const snowflakeCount = 50;

    for (let i = 0; i < snowflakeCount; i++) {
    let snowflake = document.createElement("div");
    snowflake.className = "snowflake";
    snowflake.innerHTML = "❄";

    snowflake.style.left = Math.random() * 100 + "vw";
    snowflake.style.animationDuration = Math.random() * 5 + 5 + "s";
    snowflake.style.fontSize = Math.random() * 10 + 10 + "px";

    document.body.appendChild(snowflake);
    }
    });
    </script> *@
</div>

<div class="container-fluid">

    <div class="section">
        <P class="title-main">
            Logística
        </P>
        <p class="lead">Este módulo se encarga de gestionar de manera integral el proceso de Logistica.</p>
    </div>
    <hr>


    <div class="row">
        <!-- Columna para el Menú (col-3) -->
        <div class="col-md-3 p-3">
            <p class="title-menu">Menú</p>
            <!-- Nav vertical  -->
            <ul class="nav flex-column nav-pills custom-nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                

                <!-- Opción 1 - Novedad Comercial -->
                @if (User.Identity.IsAuthenticated)
                {
                    var userRole = User.FindFirst("Rol")?.Value;
                    var userArea = User.FindFirst("Area")?.Value;

                    // Check if the user has one of the allowed roles or if the area is "Purchasing".
                    if (userRole != null && (userRole == "Administrador" || userRole == "Super Usuario" || userRole == "Desarrollador" || userRole == "Soporte TI"))
                    {
                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link active custom-tab" id="v-pills-comercial-tab" data-bs-toggle="pill" href="#v-pills-comercial" role="tab" aria-controls="v-pills-comercial" aria-selected="false">Novedad Comercial</a>
                        </li>

                    }
                            
                    else if (userArea != null && userArea == "Comercial" || userArea == "Mostrador")
                    {
                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link custom-tab active" id="v-pills-comercial-tab" data-bs-toggle="pill" href="#v-pills-comercial" role="tab" aria-controls="v-pills-comercial" aria-selected="false">Novedad Comercial</a>
                        </li>
                    }
                }

                <!-- Opción 2 - Novedad Compras -->
                @if (User.Identity.IsAuthenticated)
                {
                    var userRole = User.FindFirst("Rol")?.Value;
                    var userArea = User.FindFirst("Area")?.Value;

                    // Check if the user has one of the allowed roles or if the area is "Purchasing".
                    if (userRole != null && (userRole == "Administrador" || userRole == "Super Usuario" || userRole == "Desarrollador" || userRole == "Soporte TI"))
                    {
                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link custom-tab" id="v-pills-compras-tab" data-bs-toggle="pill" href="#v-pills-compras" role="tab" aria-controls="v-pills-compras" aria-selected="false">Novedad Compras</a>
                        </li>
                    }

                    else if (userArea != null && userArea == "Compras")
                    {
                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link custom-tab active" id="v-pills-compras-tab" data-bs-toggle="pill" href="#v-pills-compras" role="tab" aria-controls="v-pills-compras" aria-selected="false">Novedad Compras</a>
                        </li>
                    }
                }

                <!-- Opción 3 - Novedad General -->
                @if (User.Identity.IsAuthenticated)
                {
                    var userRole = User.FindFirst("Rol")?.Value;
                    var userArea = User.FindFirst("Area")?.Value;

                    // Check if the user has one of the allowed roles or if the area is "Purchasing".
                    if ((userRole != null && (userRole == "Administrador" || userRole == "Super Usuario" || userRole == "Desarrollador" || userRole == "Soporte TI")) || (userArea != null && userArea != "Logistica"))
                    {
                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link custom-tab" id="v-pills-general-tab" data-bs-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">Novedad General</a>
                        </li>
                    }
                }

                <!-- Opción 4 - Ruta -->
                @if (User.Identity.IsAuthenticated)
                {
                    var userRole = User.FindFirst("Rol")?.Value;
                    var userArea = User.FindFirst("Area")?.Value;

                    // Check if the user has one of the allowed roles or if the area is "Purchasing".
                    if (userRole != null && (userRole == "Administrador" || userRole == "Super Usuario" || userRole == "Desarrollador" || userRole == "Soporte TI"))
                    {
                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link custom-tab" id="v-pills-ruta-tab" data-bs-toggle="pill" href="#v-pills-ruta" role="tab" aria-controls="v-pills-ruta" aria-selected="false">Ruta</a>
                        </li>
                    }

                    else if (userArea != null && userArea == "Logistica")
                    {
                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link custom-tab active" id="v-pills-ruta-tab" data-bs-toggle="pill" href="#v-pills-ruta" role="tab" aria-controls="v-pills-ruta" aria-selected="false">Ruta</a>
                        </li>
                    }                        
                }

            </ul>
        </div>

        <!-- Columna para el Contenido (col-9) -->
        <div class="col-md-9 p-3">
            <div class="tab-content" id="v-pills-tabContent">

                <!-- Contenido de Opción 1 - Novedad Comercial -->
                @if (User.Identity.IsAuthenticated)
                {
                    var userRole = User.FindFirst("Rol")?.Value;
                    var userArea = User.FindFirst("Area")?.Value;

                    // Check if the user has one of the allowed roles or if the area is "Purchasing".
                    if (userRole != null && (userRole == "Administrador" || userRole == "Super Usuario" || userRole == "Desarrollador" || userRole == "Soporte TI"))
                    {
                        <div class="tab-pane fade show active" id="v-pills-comercial" role="tabpanel" aria-labelledby="v-pills-comercial-tab">

                            <div class="novedad-comercial">
                                <p class="title-menu">
                                    <i @* class="fas fa-clipboard-list me-2" *@></i> Novedad Comercial
                                </p>

                                <!-- Tarjetas KPI -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Total Novedades</h6>
                                            <h4 class="text-primary">@ViewBag.TotalNovedadesComerciales</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Abiertas</h6>
                                            <h4 class="text-warning">@ViewBag.TotalNovedadesComercialesAbiertas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Programadas</h6>
                                            <h4 class="text-success">@ViewBag.TotalNovedadesComercialesProgramadas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Cerradas</h6>
                                            <h4 class="text-danger">@ViewBag.TotalNovedadesComercialesCerradas</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="container mt-3">
                                    <div class="row">

                                        @* 1. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Create", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-file-invoice-dollar fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Agregar Novedad</h4>
                                                    <p class="text-muted">Permite crear novedades comerciales relacionadas con las facturas o remisiones.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 2. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Index", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-search-dollar fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Revisar Novedad</h4>
                                                    <p class="text-muted">Consulta las novedades comerciales en proceso para un mejor seguimiento.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 3. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("TrackingIndex", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-truck-loading fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Seguimiento Novedad</h4>
                                                    <p class="text-muted">Monitorea el progreso de las novedades comerciales facilitando el control.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 4. Option *@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var userRole1 = User.FindFirst("Rol")?.Value;
                                            if (userRole1 != null && (userRole1 == "Administrador" || userRole1 == "Super Usuario" || userRole1 == "Desarrollador" || userRole1 == "Soporte TI"))
                                            {

                                                <div class="col-md-4 mt-2">
                                                    <a href="@Url.Action("OverrideIndex", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                        <div class="card shadow-lg rounded-4 text-center p-4">
                                                            <div class="mb-3">
                                                                <i class="fas fa-ban fa-3x text-danger"></i>
                                                            </div>
                                                            <h4 class="card-title fw-normal">Anular Novedad</h4>
                                                            <p class="text-muted">Cancela una novedad comercial existente si ya no es necesaria.</p>
                                                            <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                        </div>
                                                    </a>
                                                </div>

                                            }
                                        }

                                    </div>
                                </div>

                                <hr>

                                <p class="title-menu mt-3">
                                    <i class="fas fa-search me-2"></i> Consultar
                                </p>
                                <div class="container">

                                    <div class="row">

                                        @* 5. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("ConsulteReview", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-list-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Movimiento Resumen</h4>
                                                    <p class="text-muted">Consulta un resumen detallado de todos los movimientos de las novedades comerciales.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <hr>

                            </div>

                        </div>
                    }
                    
                    else if (userArea != null && userArea == "Comercial" || userArea == "Mostrador")
                    {
                        <div class="tab-pane fade show active" id="v-pills-comercial" role="tabpanel" aria-labelledby="v-pills-comercial-tab">

                            <div class="novedad-comercial">
                                <p class="title-menu">
                                    <i @* class="fas fa-clipboard-list me-2" *@></i> Novedad Comercial
                                </p>

                                <!-- Tarjetas KPI -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Total Novedades</h6>
                                            <h4 class="text-primary">@ViewBag.TotalNovedadesComerciales</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Abiertas</h6>
                                            <h4 class="text-warning">@ViewBag.TotalNovedadesComercialesAbiertas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Programadas</h6>
                                            <h4 class="text-success">@ViewBag.TotalNovedadesComercialesProgramadas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Cerradas</h6>
                                            <h4 class="text-danger">@ViewBag.TotalNovedadesComercialesCerradas</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="container mt-3">
                                    <div class="row">

                                        @* 1. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Create", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-file-invoice-dollar fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Agregar Novedad</h4>
                                                    <p class="text-muted">Permite crear novedades comerciales relacionadas con las facturas o remisiones.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 2. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Index", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-search-dollar fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Revisar Novedad</h4>
                                                    <p class="text-muted">Consulta las novedades comerciales en proceso para un mejor seguimiento.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 3. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("TrackingIndex", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-truck-loading fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Seguimiento Novedad</h4>
                                                    <p class="text-muted">Monitorea el progreso de las novedades comerciales facilitando el control.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 4. Option *@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var userRole1 = User.FindFirst("Rol")?.Value;
                                            if (userRole1 != null && (userRole1 == "Administrador" || userRole1 == "Super Usuario" || userRole1 == "Desarrollador" || userRole1 == "Soporte TI"))
                                            {

                                                <div class="col-md-4 mt-2">
                                                    <a href="@Url.Action("OverrideIndex", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                        <div class="card shadow-lg rounded-4 text-center p-4">
                                                            <div class="mb-3">
                                                                <i class="fas fa-ban fa-3x text-danger"></i>
                                                            </div>
                                                            <h4 class="card-title fw-normal">Anular Novedad</h4>
                                                            <p class="text-muted">Cancela una novedad comercial existente si ya no es necesaria.</p>
                                                            <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                        </div>
                                                    </a>
                                                </div>

                                            }
                                        }

                                    </div>
                                </div>

                                <hr>

                                <p class="title-menu mt-3">
                                    <i class="fas fa-search me-2"></i> Consultar
                                </p>
                                <div class="container">

                                    <div class="row">

                                        @* 5. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("ConsulteReview", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-list-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Movimiento Resumen</h4>
                                                    <p class="text-muted">Consulta un resumen detallado de todos los movimientos de las novedades comerciales.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                            </div>

                        </div>
                    }
                }


                <!-- Contenido de Opción 2 - Novedad Compra-->
                @if (User.Identity.IsAuthenticated)
                {
                    var userRole = User.FindFirst("Rol")?.Value;
                    var userArea = User.FindFirst("Area")?.Value;

                    // Check if the user has one of the allowed roles or if the area is "Purchasing".
                    if (userRole != null && (userRole == "Administrador" || userRole == "Super Usuario" || userRole == "Desarrollador" || userRole == "Soporte TI"))
                    {
                        <div class="tab-pane fade" id="v-pills-compras" role="tabpanel" aria-labelledby="v-pills-compras-tab">
                            <div>
                                <p class="title-menu">
                                    <i @* class="fas fa-clipboard-list me-2" *@></i> Novedad Compras
                                </p>

                                <!-- Tarjetas KPI -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Total Novedades</h6>
                                            <h4 class="text-primary">@ViewBag.TotalNovedadesCompras</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Abiertas</h6>
                                            <h4 class="text-warning">@ViewBag.TotalNovedadesComprasAbiertas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Programadas</h6>
                                            <h4 class="text-success">@ViewBag.TotalNovedadesComprasProgramadas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Cerradas</h6>
                                            <h4 class="text-danger">@ViewBag.TotalNovedadesComprasCerradas</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="container mt-3">
                                    <div class="row">

                                        @* 1. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("ReviewIndex", "NovedadCompraUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-shopping-basket fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Agregar Novedad</h4>
                                                    <p class="text-muted">Permite crear novedad de compras, asegurando mejor trazabilidad.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 2. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Index", "NovedadCompraUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-search-dollar fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Revisar Novedad</h4>
                                                    <p class="text-muted">Permite registrar nuevas novedades relacionadas con compras o actualizar.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 3. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("TrackingIndex", "NovedadCompraUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-truck-loading fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Seguimiento Novedad</h4>
                                                    <p class="text-muted">Realiza un seguimiento del estado y progreso de las novedades de compras.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        
                                        @* 4. Option *@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var userRole1 = User.FindFirst("Rol")?.Value;
                                            if (userRole1 != null && (userRole1 == "Administrador" || userRole1 == "Super Usuario" || userRole1 == "Desarrollador" || userRole1 == "Soporte TI"))
                                            {

                                                <div class="col-md-4 mt-2">
                                                    <a href="@Url.Action("OverrideIndex", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                        <div class="card shadow-lg rounded-4 text-center p-4">
                                                            <div class="mb-3">
                                                                <i class="fas fa-ban fa-3x text-danger"></i>
                                                            </div>
                                                            <h4 class="card-title fw-normal">Anular Novedad</h4>
                                                            <p class="text-muted">Cancela una novedad de compra previamente registrada si ya no es necesaria.</p>
                                                            <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                        </div>
                                                    </a>
                                                </div>

                                            }
                                        }

                                    </div>
                                </div>

                                <hr>

                                <p class="title-menu mt-3">
                                    <i class="fas fa-search me-2"></i> Consultar
                                </p>
                                <div class="container">

                                    <div class="row">

                                        @* 5. Option *@
                                        <div class="col-md-4 mt-2">
                                            <a href="@Url.Action("ConsulteReview", "NovedadComprasUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-list-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Movimiento Resumen</h4>
                                                    <p class="text-muted">Consulta un resumen detallado de todos los movimientos de las novedades de compras.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <hr>

                            </div>
                        </div>

                    }
                    
                    else if (userArea != null && userArea == "Compras")
                    {
                        <div class="tab-pane fade show active" id="v-pills-compras" role="tabpanel" aria-labelledby="v-pills-compras-tab">
                            <div class="novedad-comercial">
                                <p class="title-menu">
                                    <i @* class="fas fa-clipboard-list me-2" *@></i> Novedad Compras
                                </p>

                                <!-- Tarjetas KPI -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Total Novedades</h6>
                                            <h4 class="text-primary">@ViewBag.TotalNovedadesCompras</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Abiertas</h6>
                                            <h4 class="text-warning">@ViewBag.TotalNovedadesComprasAbiertas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Programadas</h6>
                                            <h4 class="text-success">@ViewBag.TotalNovedadesComprasProgramadas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Cerradas</h6>
                                            <h4 class="text-danger">@ViewBag.TotalNovedadesComprasCerradas</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="container mt-3">
                                    <div class="row">

                                        @* 1. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("ReviewIndex", "NovedadCompraUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-shopping-basket fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Agregar Novedad</h4>
                                                    <p class="text-muted">Permite crear novedad de compras, asegurando mejor trazabilidad.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 2. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Index", "NovedadCompraUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-search-dollar fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Revisar Novedad</h4>
                                                    <p class="text-muted">Permite registrar nuevas novedades relacionadas con compras o actualizar.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 3. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("TrackingIndex", "NovedadCompraUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-truck-loading fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Seguimiento Novedad</h4>
                                                    <p class="text-muted">Realiza un seguimiento del estado y progreso de las novedades de compras.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 4. Option *@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var userRole1 = User.FindFirst("Rol")?.Value;
                                            if (userRole1 != null && (userRole1 == "Administrador" || userRole1 == "Super Usuario" || userRole1 == "Desarrollador" || userRole1 == "Soporte TI"))
                                            {

                                                <div class="col-md-4 mt-2">
                                                    <a href="@Url.Action("OverrideIndex", "NovedadComercialUsuario")" class="text-decoration-none text-dark">
                                                        <div class="card shadow-lg rounded-4 text-center p-4">
                                                            <div class="mb-3">
                                                                <i class="fas fa-ban fa-3x text-danger"></i>
                                                            </div>
                                                            <h4 class="card-title fw-normal">Anular Novedad</h4>
                                                            <p class="text-muted">Cancela una novedad de compra previamente registrada si ya no es necesaria.</p>
                                                            <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                        </div>
                                                    </a>
                                                </div>

                                            }
                                        }

                                    </div>
                                </div>

                                <hr>

                                <p class="title-menu mt-3">
                                    <i class="fas fa-search me-2"></i> Consultar
                                </p>
                                <div class="container">

                                    <div class="row">

                                        @* 5. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("ConsulteReview", "NovedadComprasUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-list-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Movimiento Resumen</h4>
                                                    <p class="text-muted">Consulta un resumen detallado de todos los movimientos de las novedades de compras.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <hr>

                            </div>
                        </div>
                        
                    }
                }
                

                <!-- Contenido de Opción 3 - Novedad General -->
                @if (User.Identity.IsAuthenticated)
                {
                    var userRole = User.FindFirst("Rol")?.Value;
                    var userArea = User.FindFirst("Area")?.Value;

                    // Check if the user has one of the allowed roles or if the area is "Purchasing".
                    if ((userRole != null && (userRole == "Administrador" || userRole == "Super Usuario" || userRole == "Desarrollador" || userRole == "Soporte TI")) || (userArea != null && userArea != "Logistica"))
                    {
                        <div class="tab-pane fade" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">

                            <div>
                                <p class="title-menu">
                                    <i @* class="fas fa-clipboard-list me-2" *@></i> Novedad General
                                </p>

                                <div class="alert-custom">
                                    <i class="fas fa-exclamation-circle"></i>
                                    Las novedades que se creen aquí no están destinadas a facturas ni remisiones comerciales; utiliza el módulo de Novedad Comercial para esos casos.
                                </div>

                                <!-- Tarjetas KPI -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Total Novedades</h6>
                                            <h4 class="text-primary">@ViewBag.TotalNovedadesGenerales</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Abiertas</h6>
                                            <h4 class="text-warning">@ViewBag.TotalNovedadesGeneralesAbiertas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Programadas</h6>
                                            <h4 class="text-success">@ViewBag.TotalNovedadesGeneralesProgramadas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Novedades Cerradas</h6>
                                            <h4 class="text-danger">@ViewBag.TotalNovedadesGeneralesCerradas</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <hr/>

                                <div class="container mt-3">
                                    <div class="row">

                                        @* 1. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Index", "NovedadUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-file-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Crear Novedad</h4>
                                                    <p class="text-muted">Permite crear nuevas solicitudes para novedad de ruta o modificar.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 2. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("TrackingIndex", "NovedadUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-truck-loading fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Seguimiento Novedad</h4>
                                                    <p class="text-muted">Consulta el estado actual de las novedades y su progreso actual en tiempo real.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 3. Option *@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var userRole1 = User.FindFirst("Rol")?.Value;
                                            if (userRole1 != null && (userRole1 == "Administrador" || userRole1 == "Super Usuario" || userRole1 == "Desarrollador" || userRole1 == "Soporte TI"))
                                            {

                                                <div class="col-md-4">
                                                    <a href="@Url.Action("OverrideIndex", "NovedadUsuario")" class="text-decoration-none text-dark">
                                                        <div class="card shadow-lg rounded-4 text-center p-4">
                                                            <div class="mb-3">
                                                                <i class="fas fa-ban fa-3x text-danger"></i>
                                                            </div>
                                                            <h4 class="card-title fw-normal">Anular Novedad</h4>
                                                            <p class="text-muted">Anula o cancela una novedad general de ruta previamente registrada.</p>
                                                            <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                        </div>
                                                    </a>
                                                </div>

                                            }
                                        }

                                    </div>
                                </div>

                                <hr>

                                <p class="title-menu mt-3">
                                    <i class="fas fa-search me-2"></i> Consultar
                                </p>
                                <div class="container">

                                    <div class="row">

                                        @* 4. Option *@
                                        <div class="col-md-4 mt-2">
                                            <a href="@Url.Action("ConsulteReview", "NovedadUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-list-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Movimiento Resumen</h4>
                                                    <p class="text-muted">Revisa un resumen detallado de todos los movimientos de las novedades.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <hr>

                            </div>

                        </div>
                    }
                }


                <!-- Contenido de Opción 4 - Ruta-->
                @if (User.Identity.IsAuthenticated)
                {
                    var userRole = User.FindFirst("Rol")?.Value;
                    var userArea = User.FindFirst("Area")?.Value;

                    // Check if the user has one of the allowed roles or if the area is "Purchasing".
                    if (userRole != null && (userRole == "Administrador" || userRole == "Super Usuario" || userRole == "Desarrollador" || userRole == "Soporte TI"))
                    {
                        <div class="tab-pane fade" id="v-pills-ruta" role="tabpanel" aria-labelledby="v-pills-ruta-tab">

                            <div class="Ruta">
                                <p class="title-menu">
                                    <i @* class="fas fa-clipboard-list me-2" *@></i> Ruta Logística
                                </p>

                                <!-- Tarjetas KPI -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Total Rutas</h6>
                                            <h4 class="text-primary">@ViewBag.TotalRutas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Rutas Abiertas</h6>
                                            <h4 class="text-warning">@ViewBag.TotalRutasAbiertas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Ruta Cerradas</h6>
                                            <h4 class="text-danger">@ViewBag.TotalRutasCerradas</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr/>

                                <div class="container mt-3">
                                    <div class="row">

                                        @* 1. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Create", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-map-marked-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Asignar Ruta</h4>
                                                    <p class="text-muted">Asigna las rutas de entrega a los conductores, vinculando las novedades logísticas.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 2. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Index", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-lock fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Cerrar Ruta</h4>
                                                    <p class="text-muted">Monitorea el progreso y estado de las rutas asignadas, cerrando en tiempo real.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 3. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("TrackingIndex", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-route fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Seguimiento Ruta</h4>
                                                    <p class="text-muted">Seguimiento de estado de las rutas asignadas, revisando en tiempo real el cumplimiento.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 4. Option *@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var userRole1 = User.FindFirst("Rol")?.Value;
                                            if (userRole1 != null && (userRole1 == "Administrador" || userRole1 == "Super Usuario" || userRole1 == "Desarrollador" || userRole1 == "Soporte TI"))
                                            {

                                                <div class="col-md-4 mt-2">
                                                    <a href="@Url.Action("OverrideIndex", "RutaUsuario")" class="text-decoration-none text-dark">
                                                        <div class="card shadow-lg rounded-4 text-center p-4">
                                                            <div class="mb-3">
                                                                <i class="fas fa-ban fa-3x text-danger"></i>
                                                            </div>
                                                            <h4 class="card-title fw-normal">Anular Ruta</h4>
                                                            <p class="text-muted">Cancela una ruta en caso de cambios o reprogramaciones, permitiendo ajustar tiempos.</p>
                                                            <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                        </div>
                                                    </a>
                                                </div>

                                            }
                                        }

                                    </div>
                                </div>

                                <hr>

                                <p class="title-menu mt-3">
                                    <i class="fas fa-search me-2"></i> Consultar
                                </p>
                                <div class="container">

                                    <div class="row">

                                        @* 5. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("GenerarRuta", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-map fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Generar Ruta</h4>
                                                    <p class="text-muted">Configura y genera una ruta asignada por fecha y conductor.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>
                                            

                                        @* 6. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("ConsulteReview", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-list-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Movimiento Resumen</h4>
                                                    <p class="text-muted">Consulta un resumen detallado de todas las rutas asignadas.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>
                    }

                    else if (userArea != null && userArea == "Logistica")
                    {
                        <div class="tab-pane fade show active" id="v-pills-ruta" role="tabpanel" aria-labelledby="v-pills-ruta-tab">

                            <div class="Ruta">
                                <p class="title-menu">
                                    <i @* class="fas fa-clipboard-list me-2" *@></i> Ruta Logística
                                </p>

                                <!-- Tarjetas KPI -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Total Rutas</h6>
                                            <h4 class="text-primary">@ViewBag.TotalRutas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Rutas Abiertas</h6>
                                            <h4 class="text-warning">@ViewBag.TotalRutasAbiertas</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card shadow-lg rounded-4 text-center p-3">
                                            <h6>Ruta Cerradas</h6>
                                            <h4 class="text-danger">@ViewBag.TotalRutasCerradas</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="container mt-3">
                                    <div class="row">

                                        @* 1. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Create", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-map-marked-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Asignar Ruta</h4>
                                                    <p class="text-muted">Asigna las rutas de entrega a los conductores, vinculando las novedades logísticas.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 2. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Index", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-lock fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Cerrar Ruta</h4>
                                                    <p class="text-muted">Monitorea el progreso y estado de las rutas asignadas, cerrando en tiempo real.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 3. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("TrackingIndex", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-route fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Seguimiento Ruta</h4>
                                                    <p class="text-muted">Seguimiento de estado de las rutas asignadas, revisando en tiempo real el cumplimiento.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                        @* 4. Option *@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var userRole1 = User.FindFirst("Rol")?.Value;
                                            if (userRole1 != null && (userRole1 == "Administrador" || userRole1 == "Super Usuario" || userRole1 == "Desarrollador" || userRole1 == "Soporte TI"))
                                            {

                                                <div class="col-md-4 mt-2">
                                                    <a href="@Url.Action("OverrideIndex", "RutaUsuario")" class="text-decoration-none text-dark">
                                                        <div class="card shadow-lg rounded-4 text-center p-4">
                                                            <div class="mb-3">
                                                                <i class="fas fa-ban fa-3x text-danger"></i>
                                                            </div>
                                                            <h4 class="card-title fw-normal">Anular Ruta</h4>
                                                            <p class="text-muted">Cancela una ruta en caso de cambios o reprogramaciones, permitiendo ajustar tiempos.</p>
                                                            <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                        </div>
                                                    </a>
                                                </div>

                                            }
                                        }

                                    </div>
                                </div>

                                <hr>

                                <p class="title-menu mt-3">
                                    <i class="fas fa-search me-2"></i> Consultar
                                </p>
                                <div class="container">

                                    <div class="row">

                                        @* 5. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("GenerarRuta", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-map fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Generar Ruta</h4>
                                                    <p class="text-muted">Configura y genera una ruta asignada por fecha y conductor.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>


                                        @* 6. Option *@
                                        <div class="col-md-4">
                                            <a href="@Url.Action("ConsulteReview", "RutaUsuario")" class="text-decoration-none text-dark">
                                                <div class="card shadow-lg rounded-4 text-center p-4">
                                                    <div class="mb-3">
                                                        <i class="fas fa-list-alt fa-3x"></i>
                                                    </div>
                                                    <h4 class="card-title fw-normal">Movimiento Resumen</h4>
                                                    <p class="text-muted">Consulta un resumen detallado de todas las rutas asignadas.</p>
                                                    <button class="btn btn-primary mt-2">Ir al módulo</button>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
