@model Management_system.Models.Cliente

@{
    ViewData["Title"] = "Detalle Cliente";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>
    .fixed-width-btn {
        width: 50px;
    }

    .alert-custom {
        color: red;
        font-size: 1.2em;
        display: none;
        margin-top: 10px;
    }

    .card {
        border-radius: 15px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
    }

    input[type="submit"] {
        width: 150px;
    }


    .table {
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
    }

        .table th {
            /* background-color: #343a40;
                        color: #ffffff; */
            text-align: center;
            font-weight: 600;
            vertical-align: middle;
            font-size: 1rem;
        }

        .table td {
            text-align: center;
            vertical-align: middle;
            font-size: 0.95rem;
            color: #495057;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }

    .table-hover tbody tr:hover {
        background-color: #e9ecef;
    }

    .title-main {
        font-size: 1.6em;
        color: #333;
    }

    .title-menu {
        font-size: 1.4em;
        color: #333;
    }

    .card-header-title {
        font-size: 1.1em;
        color: #333;
    }

    .lead {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .lead-content {
        font-size: 1.0rem;
        font-weight: 300;
    }

    .btn {
        /* background-color: #007bff;
                                border-color: #007bff; */
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

</style>

<div class="container">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
</div>

<div class="container mt-2">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detalles del Cliente</h4>
            <dl class="row">
                <dt class="col-sm-3">
                    Empresa
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdEmpresaNavigation.Nombre)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nit)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nit)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Ciudad)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Ciudad)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
            </dl>
        </div>
    </div>
</div>