@using Management_system.Models.Others.ViewModel.Cliente
@model ClientesImportarViewModel

@{
    ViewData["Title"] = "Resultados Clientes";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>

    .fixed-width-btn {
        width: 50px;
    }

    .alert-custom {
        color: red;
        font-size: 1.2em;
        display: none;
        margin-top: 10px;
    }

    .card {
        border-radius: 15px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
    }

    input[type="submit"] {
        width: 150px;
    }



    .table {
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
    }

        .table th {
            /* background-color: #343a40;
                color: #ffffff; */
            text-align: center;
            font-weight: 600;
            vertical-align: middle;
            font-size: 1rem;
        }

        .table td {
            text-align: center;
            vertical-align: middle;
            font-size: 0.95rem;
            color: #495057;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }

    .table-hover tbody tr:hover {
        background-color: #e9ecef;
    }


    .title-main {
        font-size: 1.6em;
        color: #333;
    }

    .title-menu {
        font-size: 1.4em;
        color: #333;
    }

    .card-header-title {
        font-size: 1.1em;
        color: #333;
    }

    .lead {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .lead-content {
        font-size: 1.0rem;
        font-weight: 300;
    }

    .btn {
        /* background-color: #007bff;
                        border-color: #007bff; */
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

</style>

<div class="container">
    <a asp-action="ImportarDatos" asp-controller="ClientesSecure" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
</div>

<p class="title-menu text-center">Resultado de la carga de clientes</p>
<hr />

<div class="container">
    <div class="card mt-3">
        <div class="card-body">

            <p class="text-center title-menu">Clientes agregados (@Model.ClientesAgregados.Count)</p>
            <hr />
            @if (Model.ClientesAgregados.Any())
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>NIT</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.ClientesAgregados)
                            {
                                <tr>
                                    <td>@c.Nit</td>
                                    <td>@c.Nombre</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>No se agregaron clientes.</p>
            }
        </div>
    </div>


    <div class="card mt-3">
        <div class="card-body">
            <p class="text-center title-menu">Clientes duplicados (@Model.ClientesDuplicados.Count)</p>
            <hr />
            @if (Model.ClientesDuplicados.Any())
            {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>NIT</th>
                            <th>Nombre</th>
                            <th>Motivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.ClientesDuplicados)
                        {
                            <tr>
                                <td>@c.Nit</td>
                                <td>@c.Nombre</td>
                                <td>@c.Motivo</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>


    <div class="card mt-3">
        <div class="card-body">
            <p class="text-center title-menu">Clientes con errores (@Model.ClientesErroneos.Count)</p>
            <hr />
            @if (Model.ClientesErroneos.Any())
            {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>NIT</th>
                            <th>Nombre</th>
                            <th>Motivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.ClientesErroneos)
                        {
                            <tr>
                                <td>@(c.Nit?.ToString() ?? "-")</td>
                                <td>@c.Nombre</td>
                                <td>@c.Motivo</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>

</div>


<form method="post" asp-controller="ClientesSecure" asp-action="ExportarResumenExcel">
    <button type="submit">Exportar resumen a Excel</button>
</form>