@model Management_system.Models.Vendedor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<h1>Delete</h1>

<h3>¿Estás seguro de que deseas eliminar esto?</h3>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Vendedor</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Identificación
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Identificacion)
            </dd>
            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                Estado
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-2">
                Cargo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CargoNavigation.Nombre)
            </dd>
            <dt class="col-sm-2">
                Área
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdAreaNavigation.Nombre)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdVendedor" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
