@model IEnumerable<Management_system.Models.Conductor>

@{
    ViewData["Title"] = "Conductores";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">


<style>
    .fixed-width-btn {
        width: 80px;
    }

    .alert-custom {
        color: red;
        font-size: 1.2em;
        display: none;
        margin-top: 10px;
    }

        .alert-custom i {
            margin-right: 5px;
        }

    .card {
        border-radius: 15px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.75rem;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;
    }
</style>

<div class="container">
    <a asp-action="Configuration" asp-controller="Main" class="btn btn-secondary">Volver</a>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Conductores</h4>
            <p>
                <a asp-action="Create" class="btn btn-primary">Crear nuevo Conductor</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Identificacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PlacaVehiculo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Identificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlacaVehiculo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdConductor" class="btn btn-primary fixed-width-btn">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.IdConductor" class="btn btn-secondary fixed-width-btn">Detalle</a>
                                    @* <a asp-action="Delete" asp-route-id="@item.IdConductor" class="btn btn-danger fixed-width-btn">Eliminar</a> *@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
