@model Management_system.Models.NovedadCompra

@{
    ViewData["Title"] = "Detalle Novedad Compra";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>
    .card {
        border-radius: 15px;
    }

    .card-header {
        background-color: black;
        color: white;
        text-align: center;
    }

    .table th {
        background-color: #f8f9fa;
    }

    .btn {
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }
</style>

<div class="container">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
</div>

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h4 class="mb-0">Detalles de la Novedad de Compra</h4>
                </div>
                <div class="card-body">
                    <h5 class="text-muted mb-3">Información General</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Consecutivo:</th>
                                <td>@Html.DisplayFor(model => model.Consecutivo)</td>
                                <th>O.C:</th>
                                <td>@Html.DisplayFor(model => model.IdCompraNavigation.OrdenCompra)</td>
                            </tr>
                            <tr>
                                <th>Fecha Creación:</th>
                                <td>@Html.DisplayFor(model => model.Fecha)</td>
                                <th>Fecha Salida:</th>
                                <td>@Html.DisplayFor(model => model.FechaSalida)</td>
                            </tr>
                            <tr>
                                <th>Tipo de Novedad:</th>
                                <td>@Html.DisplayFor(model => model.TipoNovedad)</td>
                                <th>Empresa:</th>
                                <td>@Html.DisplayFor(model => model.Empresa)</td>
                            </tr>
                            <tr>
                                <th>Dirección:</th>
                                <td>@Html.DisplayFor(model => model.Direccion)</td>
                                <th>Ciudad / Barrio:</th>
                                <td>@Html.DisplayFor(model => model.CiudadBarrio)</td>
                            </tr>
                            <tr>
                                <th>Contacto:</th>
                                <td>@Html.DisplayFor(model => model.Contacto)</td>
                                <th>Teléfono:</th>
                                <td>@Html.DisplayFor(model => model.Telefono)</td>
                            </tr>
                            <tr>
                                <th>Usuario:</th>
                                <td>@Html.DisplayFor(model => model.IdUsuarioNavigation.Username)</td>
                                <th>Estado:</th>
                                <td>@Html.DisplayFor(model => model.Estado)</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 class="text-muted mt-4">Observaciones</h5>
                    <div class="border p-3 bg-light rounded">
                        <p class="mb-0">@Html.DisplayFor(model => model.Observaciones)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-2">
    <a asp-action="GenerarPDF" asp-route-id="@Model.IdNovedadCompras" class="btn btn-success fixed-width-btn">
        <i class="fas fa-file-pdf"></i>
    </a>
</div>
