@model IEnumerable<Management_system.Models.Auditorium>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAuditoria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAuditoria">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAuditoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
